<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Escala de Sobreaviso</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 30px;
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: #333;
    }

    h2 {
      color: #555;
      margin-bottom: 20px;
      text-align: center;
    }

    h3 {
      color: #666;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    table {
      background-color: #fff;
      border: 1px solid #ddd;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }

    table th,
    table td {
      padding: 10px;
      text-align: center;
    }

    table th {
      background-color: #f7f7f7;
      border-bottom: 1px solid #ddd;
      font-weight: 600;
    }

    table td {
      border-bottom: 1px solid #ddd;
    }

    .modal-dialog {
      max-width: 1000px;
      /* Define a largura máxima do modal */
    }

    .modal-body table {
      width: 100%;
      /* Define a largura da tabela como 100% */
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Escala de Sobreaviso</h1>

    <% if (registrosMesAtual.length> 0 || registrosMesSubsequente.length > 0) { %>
      <% const meses={ 0: 'Janeiro' , 1: 'Fevereiro' , 2: 'Março' , 3: 'Abril' , 4: 'Maio' , 5: 'Junho' , 6: 'Julho' ,
        7: 'Agosto' , 8: 'Setembro' , 9: 'Outubro' , 10: 'Novembro' , 11: 'Dezembro' }; const mesAtual=new
        Date().getMonth(); const nomeMesAtual=meses[mesAtual]; const anoAtual=new Date().getFullYear(); %>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="card-header d-flex justify-content-between">
                <h4>Escala do Mês Atual - Jaru</h4>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProximoMesJaru">
                  Próximo Mês
                </button>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <h6>Interno</h6>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesAtual.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Jaru' && pessoa.tipo==='Interno') { %>
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.tipo %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                    </tbody>
                  </table>
                  <table class="table">
                    <h6>Externo</h6>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesAtual.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Jaru' && pessoa.tipo==='Externo' ) { %>
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.tipo %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card mb-3">
              <div class="card-header d-flex justify-content-between">
                <h4>Escala do Mês Atual - Ouro Preto do Oeste</h4>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProximoMesOpo">
                  Próximo Mês
                </button>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <h6>Interno</h6>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesAtual.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Ouro Preto do Oeste' && pessoa.tipo==='Interno') { %>
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.tipo %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                    </tbody>
                  </table>
                  <table class="table">
                    <h6>Externo</h6>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesAtual.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Ouro Preto do Oeste' && pessoa.tipo==='Externo' ) { %>
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.tipo %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalProximoMesJaru" tabindex="-1" role="dialog"
          aria-labelledby="modalProximoMesJaruLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalProximoMesJaruLabel">Escala do Próximo Mês - Jaru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <h4>Interno</h4>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesSubsequente.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Jaru' && pessoa.tipo==='Interno' ) { %>
                          
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.cidade %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>


              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <h4>Externo</h4>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesSubsequente.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Jaru' && pessoa.tipo==='Externo' ) { %>
                          
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.cidade %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                            
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="modalProximoMesOpo" tabindex="-1" role="dialog"
          aria-labelledby="modalProximoMesOpoLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalProximoMesOpoLabel">Escala do Próximo Mês - Ouro Preto do Oeste</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <h4>Interno</h4>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesSubsequente.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Ouro Preto do Oeste' && pessoa.tipo==='Interno' ) { %>
                          
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.cidade %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>


              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <h4>Externo</h4>
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% registrosMesSubsequente.forEach(pessoa=> { %>
                        <% if (pessoa.cidade==='Ouro Preto do Oeste' && pessoa.tipo==='Externo' ) { %>
                          
                          <tr>
                            <td>
                              <%= pessoa.nome %>
                            </td>
                            <td>
                              <%= pessoa.cidade %>
                            </td>
                            <td>
                              <%= pessoa.dataEntrada %> - <%= pessoa.entrada %>
                            </td>
                            <td>
                              <%= pessoa.dataSaida %> - <%= pessoa.saida %>
                            </td>
                          </tr>
                          <% } %>
                            <% }); %>
                            
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>




        <% } else { %>
          <h3>Não há registros para exibir.</h3>
          <% } %>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>